@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}


.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    height: 64px;
    cursor: pointer;
    border: 0;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

main {
    max-width: 1000px;
    margin: 70px auto;
}

.features {
    display: flex;
    align-items: center;

}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.features-oreng {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.p-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.of-our-quick-list {
    padding-right: 30px;
    margin-left: 70px;
}

.team-section {
    margin-top: 50px;
    display: flex;
}
.team-section
.team-section-title{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.team-section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;

}


.card-container {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    width: 450px;
    height: 171px;
    margin-right: 20px;
}

/* .team-section-main {
    width: 586px;
    height: 171px;
} */

.team-section-image img {
    border-radius: 8px;
    width: 90%;
    height: 982px;
}

.teen-yaers-badg {
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    width: 344px;
    height: 200px;
    padding: 20px;
    position: relative;
    bottom: 110px;
    right: 20px
}

.teen-yaers-badg h2 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 40px;
}

.teen-yaers-badg p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
}

h2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.peragrap-section-title {
    width: 420px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.paragrap-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

h4 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}


.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
}

.facts-card-container .card-state {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.sponsor-section {
    margin-top: 100px;
}

.our-sponsor {
    text-align: center;
}

.sponsor-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.sponsor-state {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.sponsor-image {
    margin-top: 50px;
    /* align-items: center; */
    display: flex;
    justify-content: space-evenly;
}

.sponsor-image img {
    width: 166px;
    height: 50px;
}

.footer-section {
    max-width: 1000px;
    border-radius: 8px;
    background: #FFF4E7;
    height: 50px;
    margin: 70px auto;
}

.footer-section .footer-description {
    color: #424242;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-top: 0.5px;
}

@media screen and (max-width: 576px) {
    header {
        padding: 20px;

    }

    .card-container {
        flex-direction: column;
        width: 200px;
    }

    nav,
    .features,
    .team-section,
    .facts-card-container,
    .sponsor-section,
    .sponsor-image{
        flex-direction: column;
    }
    .team-section-image img{
        width: 100%;
    }
    .card-container{
        width: 90%;
        margin-right: 0;
    }
    .of-our-quick-list{
        margin-left: 0;
        padding-right: 0;
    }
    .peragrap-section-title{
        width: 250px;
    }


    .sponsor-image {
        align-items: center;
    }

    .section-title {
        padding: 10px;
    }

    .sponsor-title {
        padding: 2px;
    }

    .p-description,
    .btn-primary {
        align-items: center;
    }

    nav>ul {
        flex-direction: column;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;

    }


    nav,
    .of-our-quick-list {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
    }

}